<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComeToCode"
        tools:targetApi="31">
        <activity
            android:name=".Engins.EnginsRecherche.EnginsRecherche"
            android:exported="false" />
        <activity
            android:name=".Details.DetailsPersonnes.DetailsPersonnes"
            android:exported="false" />
        <activity
            android:name=".Details.DetailsEngins.DetailsEngins"
            android:exported="false" />
        <activity
            android:name=".Compte.Compte"
            android:exported="false" />
        <activity
            android:name=".ConnexionInscription.Inscription.Inscription"
            android:exported="false" />
        <activity
            android:name=".ConnexionInscription.Connexion.Connexion"
            android:exported="false" />
        <activity
            android:name=".Engins.EnginsRecherche.ListDesEnginsRecherche.ListDesEnginsRecherche"
            android:exported="false" />
        <activity
            android:name=".Engins.EnginsRecherche.EnginsRechercheCasResolus.EnginsRechercheCasResolus"
            android:exported="false" />
        <activity
            android:name=".Engins.EnginsRecherche.DeclarationEnginsRecherche.DeclarationEnginsRecherche"
            android:exported="false"
            android:label="@string/title_activity_declaration_engins_recherche"
            android:theme="@style/Theme.ComeToCode" />
        <activity
            android:name=".Personne.PersonnesRecherche.PersonnesRechercheCasResolus.PersonnesRechercheCasResolus"
            android:exported="false" />
        <activity
            android:name=".Personne.PersonnesRecherche.PersonnesRechercheCasResolus.PersonnesRetrouvesCasResolus"
            android:exported="false" />
        <activity
            android:name=".Personne.PersonnesRecherche.ListDesPersonnesRecherche.ListDesPersonnesRecherche"
            android:exported="false" />
        <activity
            android:name=".Personne.PersonnesRecherche.DeclarationPersonneRecherche.DeclarationPersonneRecherche"
            android:exported="false" />
        <activity
            android:name=".Personne.PersonneRetrouves.PersonnesRetrouvesCasResolus.PersonnesRetrouvesCasResolus"
            android:exported="false" />
        <activity
            android:name=".Personne.PersonneRetrouves.ListDesPersonnesRetrouves.ListDesPersonnesRetrouves"
            android:exported="false" />
        <activity
            android:name=".Personne.PersonneRetrouves.DeclarationPersonneRetrouves.DeclarationPersonneRetrouves"
            android:exported="false" />
        <activity
            android:name=".Personne.Personnes"
            android:exported="false" />
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>